@using LokerMVC.Models
@{
    ViewBag.Title = "Input Otp";
    Layout = "_MainLayout";
}

<h2>Input New Pasword</h2>


@using (Html.BeginForm("InputNewPassword", "Login", FormMethod.Post, new { id = "inputNewPasswordForm" }))
{
    using (Html.DevExtreme().ValidationGroup())
    {
        @Html.AntiForgeryToken()
        @(Html.DevExtreme().Form<InputNewPassword>()
                                  .OnInitialized("onInitialized")
                                  .ShowValidationSummary(true)
                                  .Items(items =>
                                  {
                                      items.AddGroup()
                                           .Items(groupItems =>
                                           {
                                               groupItems.AddSimpleFor(x => x.Password)
                                                         .Label(x => x.Visible(false))
                                                         .Editor(x => x.TextBox()
                                                                       .Mode(TextBoxMode.Password)
                                                                       .Placeholder("Password")
                                                                       .ShowClearButton(true));
                                               groupItems.AddSimpleFor(x => x.ConfirmPassword)
                                                         .Label(x => x.Visible(false))
                                                         .Editor(x => x.TextBox()
                                                                       .Placeholder("Confirm Password")
                                                                       .Mode(TextBoxMode.Password)
                                                                       .ShowClearButton(true));
                                           });

                                      items.AddGroup()
                                           .ColCountByScreen(c => c.Md(2).Sm(2).Lg(2))
                                           .CssClass("buttons-group")
                                           .Items(groupItems =>
                                           {

                                               groupItems.AddButton()
                                                         .ButtonOptions(b => b.Text("Save")
                                                                              .Type(ButtonType.Default)
                                                                              .Width(120)
                                                                              .UseSubmitBehavior(true));
                                           });

                                  }).FormData(Model))
    }
}

                                                         
<script>


    let formInstance;

    function onInitialized(e) {
        formInstance = e.component;
    }
</script>